@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    background: #000;
    min-height: 200vh;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8;
    padding: 40px 100px;
    z-index: 1000;
}
header.sti
{
    padding: 5px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color:  #fff;
    text-decoration:none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: 0.8s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
  
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.8s;

}
.banner
{
    position: relative;
    width: 100%;
    height:100vh;
    background: url(bg.png);
    background-size: cover;
}
header.sti .logo,
header.sti ul li a{
    color: black;
}